body {
     margin: 0;
     height: 100%;
}

small {
     color: gray;
}

h1 {
     margin: 0;
}

.background {
     background-image: url('assets/background.jpg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;

}

.container {
     position: relative;
     background-color: rgba(255, 255, 255, 0.87);

     border-radius: 15px;

     flex-direction: column;

     box-shadow: 1px 1px 8px 1px rgba(255, 255, 255, 0.75);
     -webkit-box-shadow: 1px 1px 8px 1px rgba(255, 255, 255, 0.75);
     -moz-box-shadow: 1px 1px 8px 1px rgba(255, 255, 255, 0.75);

     right: 10px;
     width: 25%;
}

.inner-container {
     padding: 20px;
}

.center {
     display: flex;
     justify-content: flex-end;
     align-items: center;
}

.floating {
     position: fixed;
     right: 20px;
     height: 30px;
}

.flex-end {
     display: flex;
     justify-content: flex-end;
}

.w-100 {
     width: 100%;
}

.btn {
     border: 1px solid rgba(224, 224, 224, 0.639);
     border-radius: 10px;
     cursor: pointer;

     padding: 10px 20px;
}

.btn-img {
     height: 15px;
}

.btn:hover {
     box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.ml-1 {
     margin-left: 5px;
}

.color {
     color: black;
}